#cake-details {
    background-color: cadetblue;
}

.bg-something {
    background-color: cornflowerblue !important;
}

section {
    border-radius: 0.5rem;
    color: white;
}

ul li {
    cursor: pointer;
}

.activeTab {
    border-bottom: 2px solid blueviolet;
}